<div class="container-fluid d-flex flex-column bg-white rounded bg-gradient p-0 border-bottom border-1" style="box-sizing: border-box;">
  <div>
    <div class="fs-3 text-center border border-bottom-0 border-1 py-2">Submissions</div>
  </div>
  {{#each submissions}}
    <div class="d-flex flex-nowrap align-items-center">
      <div class="p-2 fw-semibold text-center border-start border-1" style="width: 2rem; border-color: {{problem_color}}!important; background-color: {{problem_color}}69;">{{problem_code}}</div>
      <div class="text-truncate p-2" style="flex: 1;">{{author}}</div>
      <div class="fw-semibold text-center border-end border-1 p-2" style="width: 4rem; border-color:
        {{#ifEquals verdict "AC"}}{{../ac_color}}
        {{else}}
          {{#ifEquals verdict "..."}}{{../tt_color}}
          {{else}}{{../rj_color}}{{/ifEquals}}
        {{/ifEquals}}!important; background-color:
        {{#ifEquals verdict "AC"}}{{../ac_color}}38
        {{else}}
          {{#ifEquals verdict "..."}}{{../tt_color}}38
          {{else}}{{../rj_color}}38{{/ifEquals}}
        {{/ifEquals}}!important;
      ">{{verdict}}</div>
    </div>
  {{/each}}
</div>

<script>setTimeout(() => { window.location.reload(); }, {{reload_interval}});</script>
